@if (hasLabel) {
  <label
    class="label"
    [classList]="additionalClasses"
    [for]="formControlName"
    [ngClass]="[
      required ? 'required' : '',
      readonly ? 'readonly' : ''
    ]"
  >
    {{ label }}
  </label>

  <input
    class="input"
    [type]="type"
    (change)="onChange($event)"
    [id]="formControlName"
    [placeholder]="placeholder"
    [required]="required"
    [readonly]="readonly"
    [value]="inputValue"
    (blur)="onBlur()"
  />

  <span
    error-label
    [errors]="errors"
    [isTouched]="formGroup.get(formControlName)?.touched!"
    [labelErrorField]="formControlName"
    (errorMessage)="onErrorMessage($event)"
  >{{ errorMessageKey }}</span>
} @else {
  <input
    class="input"
    [type]="type"
    [attr.aria-label]="label"
    [placeholder]="placeholder"
    [required]="required"
    [readonly]="readonly"
    (change)="onChange($event)"
    [value]="inputValue"
    (blur)="onBlur()"
  />

  <span
    error-label
    [errors]="errors"
    [isTouched]="formGroup.get(formControlName)?.touched!"
    [labelErrorField]="formControlName"
  >{{ errorMessageKey }}</span>
}
