<div class="container margin-block-start-8">
  <app-button
    class="margin-inline-end-6"
    label="Este es el contenido del botón"
    size="large"
    variant="accent"
  />

  <app-button
    label="Este es un botón primario"
    size="large"
  />
</div>

<div class="container margin-block-start-10">
  <app-input
    label="Este es un input"
    name="input"
    placeholder="Placeholder"
  />

  <app-input
    label="Required input"
    name="required-input"
    placeholder="Placeholder"
    required
  />

  <app-input
    [hasLabel]="false"
    label="Input sin label"
    name="input-without-label"
  />

  <app-input
    label="Este es un input"
    name="input"
    placeholder="Placeholder"
    readonly
  />
</div>
