<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <legend>Profile</legend>

  <div>
    <app-input
      [formGroup]="profileForm"
      additionalClasses="margin-block-start-2"
      formControlName="firstName"
      label="First Name"
    />

    <app-input
      [formGroup]="profileForm"
      additionalClasses="margin-block-start-6"
      formControlName="lastName"
      label="Last Name"
    />

    <app-input
      [formGroup]="profileForm"
      additionalClasses="margin-block-start-6"
      formControlName="email"
      label="Email"
      type="email"
    />

    <app-input
      [formGroup]="profileForm"
      additionalClasses="margin-block-start-6"
      formControlName="password"
      label="Password"
      type="password"
    />

    <app-button
      [disabled]="profileForm.invalid"
      additionalClasses="margin-block-start-8"
      labelKey="btn-send"
      type="submit"
    />
  </div>
</form>

<pre class="margin-block-start-10">Invalid: {{ profileForm.invalid }}</pre>
<pre>FN errors: {{ profileForm.get('firstName')?.errors | json }}</pre>
<pre>LN errors: {{ profileForm.get('lastName')?.errors | json }}</pre>
<pre>Email errors: {{ profileForm.get('email')?.errors | json }}</pre>
<pre>Password errors: {{ profileForm.get('password')?.errors | json }}</pre>
<pre>Password confirmation errors: {{ profileForm.get('passwordConfirmation')?.errors | json }}</pre>
