<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <legend>Profile</legend>

  <div>
    <app-input
      [errors]="profileForm.get('firstName')?.errors!"
      [formGroup]="profileForm"
      formControlName="firstName"
      label="First Name"
      name="firstName"
    />

    <app-input
      [errors]="profileForm.get('lastName')?.errors!"
      [formGroup]="profileForm"
      additionalClasses="margin-block-start-6"
      formControlName="lastName"
      label="Last Name"
      name="lastName"
    />

    <app-input
      [errors]="profileForm.get('email')?.errors!"
      [formGroup]="profileForm"
      additionalClasses="margin-block-start-6"
      formControlName="email"
      label="Email"
      name="email"
      type="email"
    />

    <app-button
      [disabled]="profileForm.invalid"
      additionalClasses="margin-block-start-8"
      labelKey="btn-send"
      type="submit"
    />
  </div>
</form>

<pre>Invalid: {{ profileForm.invalid }}</pre>
<pre>FN errors: {{ profileForm.get('firstName')?.errors | json }}</pre>
<pre>LN errors: {{ profileForm.get('lastName')?.errors | json }}</pre>
<pre>Email errors: {{ profileForm.get('email')?.errors | json }}</pre>
